*

!.gitignore

!barcode_detector/
!barcode_detector/**

!dobot_nova5_driver/
!dobot_nova5_driver/**

!Fast-FoundationStereoPose-dul_cam/
!Fast-FoundationStereoPose-dul_cam/**

__pycache__/
*.pyc
*.pt
*.pth
*.onnx
*.engine
*.bag
*.db3
*.mp4
*.avi
*.npy
*.npz
